.card{
    height: 320px !important;
    width: 200px !important;
    border: 1px solid rgb(202, 202, 202);
    padding: 20px;
    box-shadow: #090909;
    border-radius: 20px;
}

.card-image{
    height: 200px;
    width: 200px;
}

.product{
    min-height: 760px;
    height: auto;
    padding: 150px;
    overflow-x: hidden;
}

.shop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1444px;
    flex-wrap: wrap;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(251, 177, 177, 0.15);
}
.styled-table thead tr {
    background-color: #0f0f10;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0a0a0a;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: white;
}


.button {
    background-color: #0f0f11; /* Green */
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    height: 40px;
    margin-right: 100%;
  }

  .products_nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 40px;
    font-size: 20px;

  }
  .btnCart{
    background-color: teal;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
  }